@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?zblb0i');
  src: url('../fonts/icomoon.eot?zblb0i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?zblb0i') format('truetype'),
    url('../fonts/icomoon.woff?zblb0i') format('woff'),
    url('../fonts/icomoon.svg?zblb0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left {
  &:before {
    content: '\e900';
  }
}
.icon-arrow-left {
  &:before {
    content: '\e901';
  }
}
.icon-arrow-right {
  &:before {
    content: '\e902';
  }
}
.icon-book-cover {
  &:before {
    content: '\e903';
  }
}
.icon-book-pile {
  &:before {
    content: '\e904';
  }
}
.icon-caret-down {
  &:before {
    content: '\e905';
  }
}
.icon-caret-fill-down {
  &:before {
    content: '\e906';
  }
}
.icon-caret-fill-left {
  &:before {
    content: '\e907';
  }
}
.icon-caret-fill-right {
  &:before {
    content: '\e908';
  }
}
.icon-caret-fill-up {
  &:before {
    content: '\e909';
  }
}
.icon-caret-left {
  &:before {
    content: '\e90a';
  }
}
.icon-caret-right {
  &:before {
    content: '\e90b';
  }
}
.icon-caret-up {
  &:before {
    content: '\e90c';
  }
}
.icon-chat-card {
  &:before {
    content: '\e90d';
  }
}
.icon-chat {
  &:before {
    content: '\e90e';
  }
}
.icon-chats-circle {
  &:before {
    content: '\e90f';
  }
}
.icon-check-circle {
  &:before {
    content: '\e910';
  }
}
.icon-checked-fill {
  &:before {
    content: '\e911';
  }
}
.icon-close {
  &:before {
    content: '\e912';
  }
}
.icon-comment-chat {
  &:before {
    content: '\e913';
  }
}
.icon-customer-care {
  &:before {
    content: '\e914';
  }
}
.icon-dark-mode {
  &:before {
    content: '\e915';
  }
}
.icon-discussions {
  &:before {
    content: '\e916';
  }
}
.icon-dotted-roller {
  &:before {
    content: '\e917';
  }
}
.icon-dotted-spinner {
  &:before {
    content: '\e918';
  }
}
.icon-double-caret-down {
  &:before {
    content: '\e919';
  }
}
.icon-download {
  &:before {
    content: '\e91a';
  }
}
.icon-edit-pen {
  &:before {
    content: '\e91b';
  }
}
.icon-ellipsis-h {
  &:before {
    content: '\e91c';
  }
}
.icon-email {
  &:before {
    content: '\e91d';
  }
}
.icon-empty-trash {
  &:before {
    content: '\e91e';
  }
}
.icon-external-link {
  &:before {
    content: '\e91f';
  }
}
.icon-eye {
  &:before {
    content: '\e920';
  }
}
.icon-facebook-fill {
  &:before {
    content: '\e921';
  }
}
.icon-facebook {
  &:before {
    content: '\e922';
  }
}
.icon-feeds {
  &:before {
    content: '\e923';
  }
}
.icon-filter-icon {
  &:before {
    content: '\e924';
  }
}
.icon-filter-lines {
  &:before {
    content: '\e925';
  }
}
.icon-gear-fill {
  &:before {
    content: '\e926';
  }
}
.icon-gear {
  &:before {
    content: '\e927';
  }
}
.icon-google {
  &:before {
    content: '\e928';
  }
}
.icon-hamburger {
  &:before {
    content: '\e929';
  }
}
.icon-helper {
  &:before {
    content: '\e92a';
  }
}
.icon-hide {
  &:before {
    content: '\e92b';
  }
}
.icon-info {
  &:before {
    content: '\e92c';
  }
}
.icon-instagram {
  &:before {
    content: '\e92d';
  }
}
.icon-light-mode {
  &:before {
    content: '\e92e';
  }
}
.icon-link {
  &:before {
    content: '\e92f';
  }
}
.icon-linkedin-fill {
  &:before {
    content: '\e930';
  }
}
.icon-linkedin {
  &:before {
    content: '\e931';
  }
}
.icon-log-out {
  &:before {
    content: '\e932';
  }
}
.icon-love-outline {
  &:before {
    content: '\e933';
  }
}
.icon-love {
  &:before {
    content: '\e934';
  }
}
.icon-map-pin {
  &:before {
    content: '\e935';
  }
}
.icon-mena {
  &:before {
    content: '\e936';
  }
}
.icon-search {
  &:before {
    content: '\e937';
  }
}
.icon-share-fill {
  &:before {
    content: '\e938';
  }
}
.icon-share-network {
  &:before {
    content: '\e939';
  }
}
.icon-share {
  &:before {
    content: '\e93a';
  }
}
.icon-show {
  &:before {
    content: '\e93b';
  }
}
.icon-tag-fill {
  &:before {
    content: '\e93c';
  }
}
.icon-tag {
  &:before {
    content: '\e93d';
  }
}
.icon-thumbs-down {
  &:before {
    content: '\e93e';
  }
}
.icon-thumbs-up {
  &:before {
    content: '\e93f';
  }
}
.icon-trash {
  &:before {
    content: '\e940';
  }
}
.icon-twitter {
  &:before {
    content: '\e941';
  }
}
.icon-warning-alert {
  &:before {
    content: '\e942';
  }
}
.icon-whatsapp-fill {
  &:before {
    content: '\e943';
  }
}
.icon-whatsapp {
  &:before {
    content: '\e944';
  }
}
.icon-wifi {
  &:before {
    content: '\e945';
  }
}
.icon-youtube {
  &:before {
    content: '\e946';
  }
}
